html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 30px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #eee;
}

.text-muted a {
    text-decoration: none;
    color: #777;
}

@media print {
    a[href]:after {
        content: none;
    }
    .page-break {
        display: block;
        page-break-before: always;
    }
}
