/**
 * Resume stylesheet
 * © 2011 Keegan Quinn
 */

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
}

#contact {
  padding-left: 1.5em;
}

#skills {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
}

#systems {
  float: left;
  width: 30%;
}

#software {
  float: left;
  width: 30%;
}

#management {
  float: left;
  width: 30%;
}
