/**
 * Resume stylesheet
 * © 2011 Keegan Quinn
 */

body {
  font-family: Verdana, Helvetica, Arial, sans-serif;
  font-size: 85%;
}

#skills {
  clear: left;
  float: left;
  width: 100%;
  overflow: hidden;
}

#skills div {
  float: left;
  width: 30%;
}
