/**
 * Resume stylesheet
 * © 2011 Keegan Quinn
 */

@media all {
  body {
    color: black;
  }

  a {
    text-decoration: none;
    color: black;
  }

  .secondary {
    color: dimgray;
  }

  .secondary a {
    color: dimgray;
  }

  .page-break {
    display: none;
  }

  #companies {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
  }

  #companies section {
    float: left;
    width: 50%;
  }

  #companies ul {
    margin-top: 0px;
  }

  #skills {
    clear: left;
    float: left;
    width: 100%;
    overflow: hidden;
  }

  #skills section {
    float: left;
    width: 50%;
  }

  #skills li {
    padding-bottom: 1em;
  }

  #skills li li {
    padding-bottom: 0em;
  }
}

@media print {
  body {
    font-size: 80%;
  }

  .page-break {
    display: block;
    page-break-before: always;
  }
}
