ServerAliveInterval 60

# Servers
Host len
    Hostname len.quinn.tk
    ForwardAgent yes

Host pi
    Hostname pi.quinn.tk
    ForwardAgent yes

Host scrap
    Hostname scrap.quinn.tk
    ForwardAgent yes


# Local machines
Host electron
    Hostname electron.local
    ForwardAgent yes

Host one
    Hostname one.local
    ForwardAgent yes

Host zero
    Hostname zero.local
    ForwardAgent yes


# PTP servers
Host iris
    Hostname iris.personaltelco.net

Host knod
    Hostname knod.personaltelco.net
