[Unit]
Description=TigerVNC server :1 for keegan
After=syslog.target network.target

[Service]
Type=simple
User=keegan
Group=keegan
PAMName=login
WorkingDirectory=/home/keegan

PIDFile=/home/%u/.vnc/%H:1.pid
ExecStartPre=/bin/sh -c '/usr/bin/vncserver -kill :1 > /dev/null 2>&1 || :'
ExecStart=/usr/bin/vncserver :1 -geometry 1280x720 -nolisten tcp -fg
ExecStop=/bin/sh -c '/usr/bin/vncserver -kill :1 > /dev/null 2>&1 || :'

[Install]
WantedBy=multi-user.target
