ServerAliveInterval 60

# Servers
Host len
    Hostname len.quinn.tk
    ForwardAgent yes

Host pi
    Hostname pi.quinn.tk
    ForwardAgent yes

Host scrap
    Hostname scrap.quinn.tk
    ForwardAgent yes


# Friendly boxes
Host athlon
    Hostname delerivm.ddns.net
    Port 2222
    ForwardAgent yes


# Local machines
Host artifact
    Hostname artifact.local
    ForwardAgent yes

Host one
    Hostname one.local
    ForwardAgent yes

Host zero
    Hostname zero.local
    ForwardAgent yes


# Network devices
Host electron
    Hostname electron.quinn.tk
    ForwardAgent yes

Host lilguy
    Hostname lilguy.quinn.tk
    User root
    ForwardAgent yes

Host wave
    Hostname wave.quinn.tk
    User root
    ForwardAgent yes

Host widget
    Hostname widget.quinn.tk
    User root
    ForwardAgent yes


# PTP servers
Host drei
    Hostname drei.personaltelco.net
    ForwardAgent yes

Host knod
    Hostname knod.personaltelco.net
    ForwardAgent yes

Host turn
    Hostname turn.personaltelco.net
    ForwardAgent yes
