ServerAliveInterval 60
User keegan

# Servers
Host len
    Hostname len.qtk.io
    Port 2222
    ForwardAgent yes

Host scrap
    Hostname scrap.qtk.io
    Port 2222
    ForwardAgent yes


# Friendly boxes
Host athlon
    Hostname delerivm.ddns.net
    Port 2222
    ForwardAgent yes


# Local machines
Host artifact
    Hostname artifact.local
    Port 2222
    ForwardAgent yes

Host electron
    Hostname electron.qtk.io
    Port 2222
    ForwardAgent yes

Host factor
    Hostname factor.qtk.io
    Port 2222
    ForwardAgent yes
    AddressFamily inet

Host one
    Hostname one.qtk.io
    Port 2222
    ForwardAgent yes

Host wsl
    Hostname localhost
    ForwardAgent yes
    ForwardX11 yes
    ForwardX11Trusted yes

Host zero
    Hostname zero.qtk.io
    Port 2222
    ForwardAgent yes


# Network devices
Host wave
    Hostname wave.qtk.io
    User root
    ForwardAgent yes
